button{
    font: bold;
    background: #FF5A17;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
}
button:hover{
   color: #fff;
   transform:scale();
   text-decoration: calc(1);
    background: #000;
}
.benar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}